# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/$CACHE_FILE$
.idea/.gitignore
.idea/artifacts/
.idea/compiler.xml
.idea/dictionaries/
.idea/encodings.xml
.idea/misc.xml
.idea/uiDesigner.xml
Security.iml
mysecurity-dome/.gitignore
mysecurity-dome/.mvn/
mysecurity-dome/mvnw
mysecurity-dome/mvnw.cmd

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
target
.settings

# git
*.orig
mysecurity-core/src/main/resources/
mysecurity-core/src/test/
mysecurity-dome/src/main/resources/static/
mysecurity-dome/src/main/resources/templates/
/mysecurity-core/target/
